.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.blue {
    background: cornflowerblue;
}

.blue-text {
    color: #d7d070;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}