.navbar {
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 18px;
    padding-bottom: 15px;

    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;

    transition-duration: 500ms;
    transform: translate(-220px);
}

.navbar:hover {
    transition-duration: 500ms;
    transform: translate(0);
}

.item {
    text-decoration: none;
    font-weight: lighter;
}
.active {
    text-decoration: none;
    color: green;
}

.item:active {
    color:#7210b8;
}

.notFound {
    text-align: center;
    margin-top: 200px;
    font-size: 20px;
}

/*.block {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background-color: darkorchid;*/
/*}*/

.menu {
    width: 25px;
    height: 3px;

    background-color: #7210b8;
    margin: 5px 0;
}
